<app-spinner *ngIf="bandera"></app-spinner>
<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" filter-color="black">

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <form *ngIf="!claveActualizada" (ngSubmit)="cambiarClave(btnCambiar)">
                            <div class="card card-login">
                                <div class="card-content" style="text-align:center;">
                                    <img src="./assets/img/logo-natclar-admin.png" style="width:50% !important;padding:20px 0px;">

                                    <div class="form-group">
                                        <label class="sr-only" for="inlineFormInputGroup">Nueva contraseña</label>
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                            <div class="input-group-addon">
                                                <i class="fa fa-key"></i>
                                            </div>
                                            <input type="password" class="form-control input-addon" placeholder="Nueva contraseña" name="claveNueva" [(ngModel)]="vcClaveNueva" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="inlineFormInputGroup">Contraseña</label>
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                            <div class="input-group-addon">
                                                <i class="fa fa-key"></i>
                                            </div>
                                            <input type="password" class="form-control input-addon" name="contraseña" placeholder="Confirme Contraseña" [(ngModel)]="vcClaveConfirmacion" />
                                        </div>
                                    </div>

                                    <button class="btn" [disabled]="cambiandoClave" style="width:100%;padding:5px 0px;font-size:11px;"
                                     class="btn btn-azul" #btnCambiar type="submit">Aceptar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-page-background" [ngStyle]="fondo"></div>
    </div>
</div>
<toaster-container></toaster-container>