<app-spinner *ngIf="bandera"></app-spinner>
<div class="wrapper wrapper-full-page">
    <div class="full-page login-page" filter-color="black">

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <form (ngSubmit)="logIn()">
                            <div class="card card-login">
                                <div class="card-content" style="text-align:center;">
                                    <img src="./assets/img/angular2-logo.png" style="width:50% !important;padding:20px 0px;">
                                    
                                    <div class="form-group">
                                        <label class="sr-only" for="inlineFormInputGroup">Username</label>
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                            <div class="input-group-addon">
                                                <i class="fa fa-user"></i>
                                            </div>
                                            <input type="text" class="form-control input-addon" placeholder="Usuario o email" name="vcUsuario" [(ngModel)]="vcUsuario"
                                            />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="inlineFormInputGroup">Contraseña</label>
                                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                            <div class="input-group-addon">
                                                <i class="fa fa-key"></i>
                                            </div>
                                            <input type="{{typePassword}}" class="form-control input-addon" name="contraseña" placeholder="Contraseña" [(ngModel)]="vbClave"
                                            />
                                            <span *ngIf="!showPassword" class="password-eye fa fa-eye" (click)="mostrarContrasena()"></span>
                                            <span *ngIf="showPassword" class="password-eye fa fa-eye-slash" (click)="ocultarContrasena()"></span>
                                        </div>
                                    </div>                                 

                                    <button style="width:100%;padding:5px 0px;font-size:11px;" *ngIf="!usuarioIdentificado" class="btn btn-azul" [disabled]="iniciandoSesion"
                                        type="submit">Iniciar sesión</button>

                                    <button *ngIf="usuarioIdentificado" class="btn" [disabled]="buscandoPermisos" style="background:#738FBF" type="button"
                                        (click)="cancelar()">Cancelar</button>

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-page-background" [ngStyle]="fondo"></div>
    </div>
</div>
<toaster-container></toaster-container>