<form *ngIf="!claveActualizada" (ngSubmit)="cambiarClave(aceptarBtn)">
    <div class="modal-header">
        <h5 class="modal-title text-center">Cambiar Contraseña</h5>
        <button type="button" class="close" aria-label="Close" (click)="cerrar()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label class="col-3 col-form-label">Contraseña actual </label>
                    <div class="col-9">
                        <input class="form-control"  [(ngModel)]="vcClaveActual" name="vcClaveActual" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-3 col-form-label">Nueva contraseña </label>
                    <div class="col-9">
                        <input class="form-control" [(ngModel)]="vcClaveNueva" name="vcClaveNueva" type="password">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-3 col-form-label">Confirmar contraseña</label>
                    <div class="col-9">
                        <input class="form-control" [(ngModel)]="vcClaveConfirmacion" name="vcClaveConfirmacion" type="password">
                    </div>
                </div>
                <div *ngIf="claveActualizada">
                    Su contraseña ha sido actualizada se procederá con el cierre se sesión;
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="left-side" style="float:left;">
            <button type="submit" class="btn" #aceptarBtn>
                <i class="fa fa-save"></i> MODIFICAR
            </button>
        </div>
        <div class="right-side" style="float:right;">
            <button type="button" class="btn btn-azul" (click)="cerrar()">
                <i class="fa fa-ban"></i> CANCELAR
            </button>
        </div>
    </div>
</form>