<app-spinner-global *ngIf="bandera"></app-spinner-global>
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                   <span class="mensaje">Bienvenido al sistema {{nombreUsuario}}</span>
                </div>
            </div>
        </div>
    </div>
</div>