.overview-box-title {
    padding: 10px 0px 0px 15px;
    font-size: 15px;
}

.overview-box-details {
    padding: 10px 0px 0px 15px;
}

i.overview-box-details-icon {
    font-size: 40px;
}

span.overview-box-details-count {
    margin-left: 20px;
    font-size: 30px;
}

.overview-box-stats{
    padding: 10px 0px 0px 15px;
}