<app-spinner *ngIf="bandera"></app-spinner>
<div class="main-content"  *ngIf="banderaContent">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Converter Currency</h4>
                    </div>
                    <div class="content ">
                            <div class="row">
                                    <div class="col-md-1">
                                            <label class="col-form-label">Select Base Currecy: </label>
                                        </div>
                                    <div class="col-sm-2">
                                            <select class="form-control" [(ngModel)]="converter.vcBase" >
                                                <option value="0">Seleccione una opción...</option>
                                                <option *ngFor="let currency of currencys" value="{{currency.vcIdCurrency}}">{{currency.vcCurrency}}</option>
                                            </select>
                                        </div>
                                        <div class="col-md-1">
                                            <label class="col-form-label"></label>
                                        </div>
                                        <div class="col-md-2">
                                            <label class="col-form-label"></label>
                                        </div>
                                        <div class="col-md-1">
                                                <label class="col-form-label">Select Symbol Currecy: </label>
                                            </div>
                                        <div class="col-sm-2">
                                                <select class="form-control" [(ngModel)]="converter.vcSymbol" >
                                                    <option value="0">Seleccione una opción...</option>
                                                    <option *ngFor="let currency of currencys" value="{{currency.vcIdCurrency}}">{{currency.vcCurrency}}</option>
                                                </select>
                                            </div>
                            </div>
                        <div class="row">
                            <div class="col-md-1">
                                <label class="col-form-label">Input Value $: </label>
                            </div>
                            <div class="col-sm-2    ">
                                    <input class="form-control" [(ngModel)]="converter.nuInputValue" type="number"
                                    placeholder="Input Value"/>
                            </div>
                            <div class="col-md-1">
                                <label class="col-form-label">Fecha: </label>
                            </div>
                            <div class="col-sm-2">
                                <input type="text" name="daterangeInput" daterangepicker  
                                class="form-control" (click)="focus()"
                                [options]="options" (selected)="selectedDate($event)"/>
                            </div>
                            <div class="col-md-1">
                                    <label class="col-form-label">Output Value €: </label>
                                </div>
                                <div class="col-sm-2    ">
                                        <input class="form-control" [(ngModel)]="converter.nuOutputValue" type="number" [disabled]="converter.disabled"
                                        />
                            </div>                            
                            <div class="col-md-3">
                                <button class="btn btn-xs" (click)="onSubmit()" title="Calculate">
                                    <i class="fa fa-dollar"></i>
                                </button>
                            </div>
                        </div>
                        
                        <br>
                        
                        <br>                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>