table tbody tr td{
    font-size: 12px;
}

.text-right{
    text-align: right;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.titulo-datos{
    font-size: 14px;
}

.size-12{
    font-size: 12px;
}

.center{
    text-align: center;
}

.top-25{
    margin-top: 25px;
}

.table {
    table-layout: auto;
}

.card .category, .card label {
    color: #013C76 !important;
}

.card{
    margin-left: 16px;
    margin-right: 16px;
}

.card-title{
    font-weight: bold;
    text-align: center;
}

.card-text{
    font-size: 13px;
    margin-bottom: 0px;
}

.ver-mas{
    float: right;
    margin-bottom: 5px;
}

.float-right{
    float: right;
}

.btn{
    padding: 5px 10px;
}

.card-footer{
    margin-top: 10px;
    margin-bottom: 10px;
}

.estiloActivo{
    color: #f8a456;
    font-weight: bold;
    background: #ffff;
}

.estiloInactivo{
    background: #f8a456;
    color: #ffff;
}

.btn-xs-natclar {
    *background: #F68D2C !important;
    *border: 1px solid #F68D2C !important;
    *color: white !important;
    background: white; 
    border: 1px solid #F68D2C !important; 
    color: #F68D2C !important;
}

.medio-pago{
    width: 60px;
}

.pagoefectivo{
    width: 90px;
}

@media (min-width: 992px){
    .card-natclar{
        width: 46% !important;
    }
}